body {
    background: rgb(29, 116, 48);
    font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
    

}
section {
    background: aliceblue;
    border-radius: 10px;
    width: 550px;
    padding: 55px 55px 80px 55px;
    display: block;
    margin: auto ;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;

}
div{
    
    padding: 8px;
}
footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
    margin-top: 35px;
}
.titulo {
    margin-top: 150px;
    padding-bottom: 40px;
}
#tela{
    width: 150px;
}